<div class="sales">
    <span class="material-icons-sharp">file_open</span>
    <div class="middle">
        <div class="left">
            <h2>Open tasks</h2>
            {% for t in tasks%}
            <p>task: {{t.ongoing_task}}</p>
            <p>created : {{t.date_created}}</p>
            <p>created by: {{t.user.username}}</p>
            {% if current_user.id==t.operator %}
            {%endif%}
            {%endfor%}
        </div>
        <div class="progress">
            <svg>
                <circle cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
                <p>81%</p>
            </div>
        </div>
    </div>
    <small class="text-muted"> Last 24 hours </small>
</div>