<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <title>Register</title>
</head>

<body class="form-container2">
    <form action="" class="login2" method="POST">
        <div class="form-container-style2">
            <h1 class="login-title">Register</h1>
            <label for="Username">Username</label>
            <input type="text" name="username" placeholder="Enter Your Username" required>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter Your Email" required>
            <label for="pasword">Password</label>
            <input type="password" name="password" placeholder="Enter Your password" required>
            <button class="btn-reg">Register</button>
        </div>
    </form>
</body>

</html>