<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <script defer type="text/javascript" src="{{url_for('static',filename='dash.js')}}"></script>
    <script defer type="text/javascript" src="{{url_for('static',filename='dash2.js')}}"></script>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="{{url_for('static',filename='images/logo1.png')}}" alt="Logo" />

                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp"> close </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/dashboard" class="active">
                    <span class="material-icons-sharp"> dashboard </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/description/{{current_user.id}}">
                    <span class="material-icons-sharp">description</span>
                    <h3>Description</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">chat</span>
                    <h3>Chat</h3>
                    <span class="message-count">5</span>
                </a>
                <a href="/projects/{{current_user.username}}">
                    <span class="material-icons-sharp">bar_chart</span>
                    <h3>Projects</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">settings</span>
                    <h3>Settings</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">notifications</span>
                    <h3>Notifications</h3>
                </a>
                <a href="/profile/{{current_user.id}}">
                    <span class="material-icons-sharp">account_circle</span>
                    <h3>Profile</h3>
                </a>

                <a href="/tasks">
                    <span class="material-icons-sharp"> add </span>
                    <h3>New task</h3>
                </a>

                <a href="/logout"><span class="material-icons-sharp">logout</span>
                    <h3>logout</h3>
                </a>

            </div>
        </aside>

        <main>
            <h1>Dashboard</h1>
            <div class="date">
                <input type="date" />
            </div>
        
            <div class="task form">
                <form action="" method="POST">
                    <label class="p-adding"for="task">Open Task</label>
                    <input class="t-texte"type="text" name="task" required>
                    <label  class="p-adding"for="task_descriptif">
                        Describe your task
                    </label>
                    <textarea class="t-texte" name="task_descriptif" cols="30" rows="10"></textarea>
                    <button class="submit-1">submit</button>
                </form>

            </div>
            {%for t in tasks%}
            {%if current_user.id==t.operator%}
            <h1>{{t.open_task}}

                <button class="butt-on">
                    <a href="/update/{{t.id}}">update </a>
                </button>
                <button class="butt-on">
                    <a href="/delete/{{t.id}}">delete </a>
                </button>
                <button class="butt-on">
                    <a href="/finished/{{t.id}}">finished</a>
                </button>
            </h1>
            <p>{{t.task_descriptif}}

                <button class="butt-on">
                    <a href="/update/{{t.id}}">update </a>
                </button>
                <button class="butt-on">
                    <a href="/delete_descriptif/{{t.task_descriptif}}">delete</a>
                </button>

            </p>
            {%endif%}
            {% endfor %}
        </main>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp"> menu </span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active" id='light'> light_mode </span>
                    <span class="material-icons-sharp" id='dark'> dark_mode </span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>{{user.username}}</b></p>

                    </div>
                    <div class="profile-photo">
                        <span class="material-icons-sharp">person</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./constants/recent-tasks-data.js"></script>
    <script src="./constants/update-data.js"></script>
    <script src="./constants/project-analytics-data.js"></script>

</body>

</html>